
@media(max-width: 935px) {
    .header-link {
        display: none;
    }
    header {
        text-align: center;
    }
    .logo img {
        max-width: 14rem;
        margin-left: 4rem;
    }

    .scrolled .logo img {
        max-width: 12rem;
        margin-left: 3rem;
    }
    .menu {
        font-size: 1.8rem;
        padding-top: 5rem;
    }
    .side-text-logo {
        display: none;
    }
    .content .title-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(./img/food/momos.jpeg);
    }

    .content .title-header .title {
        text-align: center;
        padding-left: 0;
        padding-top: 5rem;
    }

    .content .title-header .title .slogan {
        font-size: 1.1rem;
    }

    .content .title-header .title .intro {
        font-size: 3rem;
    }
        .content .service-intro {
            right: 0;
        }
        .content .service-intro p {
            width: 100%;
            min-width: 13rem;
            min-height: 10rem;
            display: inline-block;
        }
        .content .title-header .mobile-link {
            text-align: center;  
            display: block;
            width: 100%;
            font-family: "freight-big-pro";

        }
        .content .title-header .mobile-link a {
            text-decoration: none;
            color: #000;
            padding: .5rem;
            background-color: #EBDFD4;
            border: .2rem solid #EBDFD4;
        }
        .content .title-header .mobile-link a:hover { 
            color: #EBDFD4;
            background-color: #000;
        }
        .content .title-header .mobile-link span{
            display: block;
            margin: 2rem 0;
            font-size: 2rem;
        }
        .food-img {
            display: none;
        }
        .restaurent-menu {
            margin-top: 15rem;
        }
}

 