body {
    width: 100%;
    height: 100%;
    height: 1200px;
    background-color: #c0c0c0;
    box-sizing: border-box;
    text-align: center;
}
body > .container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

.hidden {
    display: none;
}

.pre-load-content {
    background-color: #091b1e;
    background-image: url(./img/menu-desktop-bg.jpg);
    position: absolute;
    z-index: 200;
    width: 100%;
    top: 0;
    bottom: 0;
}
.pre-load-content img {
    position: relative;
    top: 11rem;
    width: 18rem;
    height: 4rem;
}

/* 2nd pattern */
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    transition: .6s;
    transition-timing-function: ease-in-out;
    color: #EBDFD4;
}

.toggle-menu .fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    line-height: 48px;
}

.toggle-menu {
    padding: .3rem;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    border-right: 0.1rem solid #EBDFD4;
    border-bottom: 0.1rem solid #EBDFD4;
}

.header-link {
    font-size: 1.5rem;
    float: right;
}

.header-link span {
    padding: 1rem;
    float: left;
    height: 4rem;
    border-left: 0.1rem solid #EBDFD4;
    border-bottom: 0.1rem solid #EBDFD4;
    margin: 0;
}

.header-link span a {
    color: inherit;
    font-family: "freight-big-pro";
}

.scrolled header {
    background: #091b1e;
    height: 4rem;
}

.logo img {
    max-width: 20rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

.scrolled .logo img {
    max-width: 15rem;
    margin-left: 6rem;
    margin-top: .6rem;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    list-style: none;
}

.menu {
    background-image: url(./img/menu-desktop-bg.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: -100rem;
    z-index: 10;
    text-align: center;
    padding-top: 8rem;
    transition-property: left;
    transition-duration: .7s;
    transition-timing-function: ease-out;
}

.menu {
    font-size: 2.5rem;
}

.menu a {
    text-decoration: none;
    color: #EBDFD4;
}

.menu-btn a {
    padding-left: .5rem;
    padding-right: .5rem;
    color: #091b1e;
    background-color: #EBDFD4;
    border: .2rem solid #EBDFD4;
}

.menu-btn div {
    margin-top: 1rem;
}

.menu-btn a:hover {
    color: #EBDFD4;
    background-color: #091b1e;

}

.isMenu .menu {
    left: 0;
    transition-duration: 1.3s;

}

  .side-text-logo span {
      visibility: hidden;
  }

  .animation .side-text-logo span {
      visibility: visible;
  }

  .side-text-logo {
      font-size: 1.5rem;
      font-weight: bolder;
      color: #EBDFD4;
      width: 4rem;
      height: 100%;
      border-right: .1rem solid #EBDFD4;
      float: left;
      padding-left: 1.3rem;
      padding-top: 7rem;
  }
  .content.container-fluid {
      padding-left: 0;
      padding-right: 0;
      height: 100%;
  }

  .content .title-header {
      padding-top: 4rem;
      background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(./img/home-bg-1.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100%;
  }

  .content .title-header .title span {
      font-family: "freight-big-pro";
      visibility: hidden;
      transition-property: visibility;
  }

  .animation .content .title-header .title span {
      visibility: visible;
  }

  .content .title-header .title {
      color: #EBDFD4;
      padding-top: 15rem;
      padding-left: 7rem;
      width: 100%;
  }

  .content .title-header .title p {
      display: inline-block;
  }

  .content .title-header .title .slogan {
      font-size: 1.5rem;
  }

  .content .title-header .title .intro {
      font-size: 4rem;
  }
  .content .service-intro {
            color: #EBDFD4;
            background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(./img/menu-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 60rem;
            right: 3rem;
            left: 0;
            padding: 1rem;
            height: 80%;
            min-height: 25rem;
        }
        .content .service-intro p {
            padding-left: 1rem;
            width: 40%;
            min-width: 13rem;
            min-height: 10rem;
            display: inline-block;
        }
        .content .food-img div { 
            border-radius: 8rem;
            overflow: hidden;
            margin: 0 1.2rem;
            display: inline-block;
            background: #000;
        }
        .content .food-img {
            float: right;
            height: 20rem;
        }
        .content .food-img img {
            background: #000;
            max-width: 20rem;
            opacity: .5;
        }
        .content .title-header .mobile-link {
            display: none;
        }
